/* =====================
general
===================== */

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/* =====================
index
===================== */

.pagina-intro {
    text-align: center;
    background: radial-gradient(
        circle at center,
        var(--color-primary) 0%,
        var(--color-secondary) 40%,
        var(--color-background) 100%
    );
    padding: 60px 20px;
    border-radius: var(--radius);
}

.pagina-intro h1 {
    color: var(--color-primary);
    font-size: 3rem;
}

.pagina-intro img {
    width: 350px;
    margin: var(--spacing-lg) 0;
}

/* =====================
páginas de equpos
===================== */

.pagina-equipo {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pagina-equipo .container {
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary);
    border-radius: var(--radius);
    padding: 40px;
    width: 80%;
}

/* =====================
grid para decisiones
===================== */

.decision-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

/* =====================
Alineación de textos
===================== */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* =====================
media queries para tablets
===================== */

@media (max-width: 768px) {

    .container {
        padding: 20px;
    }

    .pagina-intro h1 {
        font-size: 2.2rem;
    }

    .pagina-intro img {
        width: 250px;
    }

    .elecciones {
        gap: 20px;
    }

    .button {
        padding: 10px 20px;
    }

}

/* =====================
media queries para teléfonos
===================== */

@media (max-width: 480px) {

    .pagina-intro h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.95rem;
    }

    .pagina-intro img {
        width: 200px;
    }

    .elecciones {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 100%;
        max-width: 250px;
    }

}